In [279]:
#load library
import pandas as pd
import numpy as np

In [280]:
path="C:/Users/melika/Desktop/melika/ML_return_rate_prediction/csv/"

In [281]:
products=pd.read_csv(f"{path}products.csv",sep=",")
predictions=pd.read_csv(f"{path}predictions.csv",sep=",")
sales_yr1=pd.read_csv(f"{path}sales_yr1.csv",sep=",")
sales_yr2=pd.read_csv(f"{path}sales_yr2.csv",sep=",")

# Cleaning process

## Table 1 : product

In [282]:
products.head(2)

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
0,[brand::]BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57 €,Winter,46,Formal Attire-Petite,Formal Set
1,[brand::]BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57 €,Winter,50,Formal Attire-Petite,Formal Set

In [283]:
products.shape

(60146, 8)

In [284]:
products.describe()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
count,59404,60146,60146,60146,60146,59484,60146,60124
unique,84,11,13027,545,2,134,20,65
top,[brand::]SkyWing,Tops,4429df044bcdb02,53.99 €,Summer,M,Tops-Adult,Sporty Short-Sleeve
freq,5663,13534,43,2551,32875,7940,12432,7383

In [285]:
products.dtypes

brand             object
category          object
pid               object
price             object
season            object
sku_size          object
subcategory       object
subsubcategory    object
dtype: object

### 1.1 price

In [286]:
# Remove currency symbols (e.g., '$') from the 'price' column
products['price'] = products['price'].str.replace('€','',regex=True)
# Remove any leading or trailing whitespace
products['price'] = products['price'].str.strip()  
# Convert to numeric, coercing errors to NaN
products['price'] = pd.to_numeric(products['price'], errors='coerce')

In [287]:
products.dtypes

brand              object
category           object
pid                object
price             float64
season             object
sku_size           object
subcategory        object
subsubcategory     object
dtype: object

In [288]:
products['price'].describe()

count    60145.000000
mean        56.677518
std          6.563974
min        -48.120000
25%         52.580000
50%         56.400000
75%         60.520000
max         86.490000
Name: price, dtype: float64

In [289]:
#count negetive price
products[products['price']<0]

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
26964,[brand::]FrontlineStyles,Miscellaneous,bbfdd87aa41aa46,-48.12,Winter,0,Miscellaneous-Adult,Bling
45736,[brand::]DarkHarbor,Sweaters,192e40abd0fa700,-45.78,Winter,XL,Sweaters-Petite,Plunge Top

In [290]:
# Drop rows where 'price' is negative
products = products[products['price'] >= 0]

In [291]:
products['price'].describe()

count    60143.000000
mean        56.680964
std          6.536820
min         23.300000
25%         52.580000
50%         56.400000
75%         60.520000
max         86.490000
Name: price, dtype: float64

### 1.2 category and subcategory variable

In [292]:
products['category'].value_counts()

category
Tops              13534
Sweaters          12753
Trousers          11211
Button-Ups         8351
Footwear           6152
Outerwear          4606
Blazers            1460
Miscellaneous      1087
High-End Items      768
Formal Attire       207
Add-Ons              14
Name: count, dtype: int64

In [293]:
products['subcategory']

0        Formal Attire-Petite
1        Formal Attire-Petite
2        Formal Attire-Petite
3        Formal Attire-Petite
4        Formal Attire-Petite
                 ...
60141        Button-Ups-Adult
60142        Button-Ups-Adult
60143        Button-Ups-Adult
60144        Button-Ups-Adult
60145        Button-Ups-Adult
Name: subcategory, Length: 60143, dtype: object

In [294]:
products['subcategory'].describe()

count          60143
unique            20
top       Tops-Adult
freq           12432
Name: subcategory, dtype: object

In [295]:
# Remove text before hyphen in the 'subcategory' column
products['subcategory'] = products['subcategory'].str.replace('.*-','',regex=True)

In [296]:
# now we can see we just have 3 unique subcategory
products['subcategory'].describe()

count     60143
unique        3
top       Adult
freq      52266
Name: subcategory, dtype: object

### 1.3 brand

In [297]:
products['brand']

0        [brand::]BlueRiver Co.
1        [brand::]BlueRiver Co.
2        [brand::]BlueRiver Co.
3        [brand::]BlueRiver Co.
4        [brand::]BlueRiver Co.
                  ...
60141           [brand::]DocMan
60142           [brand::]DocMan
60143           [brand::]DocMan
60144           [brand::]DocMan
60145           [brand::]DocMan
Name: brand, Length: 60143, dtype: object

In [298]:
# Clean up the 'brand' column
products['brand'] = products['brand'].str.replace('.*]','',regex=True)

In [299]:
products['brand']

0        BlueRiver Co.
1        BlueRiver Co.
2        BlueRiver Co.
3        BlueRiver Co.
4        BlueRiver Co.
             ...
60141           DocMan
60142           DocMan
60143           DocMan
60144           DocMan
60145           DocMan
Name: brand, Length: 60143, dtype: object

In [300]:
unique_brand = products['brand'].unique()
sort_brand = [str(item) for item in unique_brand ]
sort_brand.sort()
sort_brand

['',
 'ArcAngel',
 'AzureMeat',
 'AzureStone',
 'AzureWorks',
 'BertWear',
 'BigStone',
 'Blend&Woven',
 'BlueRidge',
 'BlueRiver Co.',
 'BoxMix',
 'BuilderStyles',
 'CanvasCraft',
 'ChillCube',
 'CityBrief',
 'CloudNine',
 'CoralAndFin',
 'CoralTrend',
 'DarkHarbor',
 'DocMan',
 'DotDash',
 'EchoStyles',
 'FlashBack',
 'FlatField',
 'ForestFoot',
 'FrontlineStyles',
 'FuelThreads',
 'GateStyles',
 'GeoStyles',
 'HarborTrend',
 'HatMasters',
 'HighClass',
 'IslandLife',
 'IsleWear',
 'IvyCraft',
 'KickStar',
 'LakeStyles',
 'LookSee',
 'LunarLuxe',
 'MeadowMaster',
 'MetalMold',
 'MetroMaven',
 'MoonWear',
 'MysticLoaf',
 'NordicFit',
 'NullLabel',
 'OceanSketch Elite',
 'OldVine Styles',
 'OliveSlate',
 'OrchardM',
 'PeakStyles',
 'PedalPrime',
 'PineAndFern',
 'PlaidCrafters',
 'PureDenim',
 'PuzzleWear',
 'RavenBeach',
 'RavenRock',
 'RefreshStyles',
 'ReinStyles',
 'RhythmWear',
 'RosePath',
 'SilkLeaf',
 'SkyGuard',
 'SkyWing',
 'Skyward',
 'SnowPeak',
 'SoftTrend',
 'SpeedThreads',
 'StarHub Threads',
 'StreamStride',
 'TargetStyles',
 'TimelessMan',
 'TulipTread',
 'TurboTrend',
 'UrbanAce',
 'UrbanZen',
 'VisionMakers',
 'VolcanoWear',
 'WillowWalk',
 'WineThread',
 'WitchHazel',
 'WorldSight',
 'ZenithMan',
 'nan']

In [301]:
products.head()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,46,Petite,Formal Set
1,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,50,Petite,Formal Set
2,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,52,Petite,Formal Set
3,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,54,Petite,Formal Set
4,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,48,Petite,Formal Set

In [302]:
# replace nan with other
print('before:',products['brand'].isna().sum())
products['brand'] = products['brand'].fillna('others')
print('after:',products['brand'].isna().sum())

before: 742
after: 0

In [303]:
# replace '' with other
products['brand'] = products['brand'].apply(lambda x:'others' if x=='' else x)
products.head()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,46,Petite,Formal Set
1,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,50,Petite,Formal Set
2,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,52,Petite,Formal Set
3,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,54,Petite,Formal Set
4,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,48,Petite,Formal Set

In [304]:
unique_brand = products['brand'].unique()
sort_brand = [str(item) for item in unique_brand ]
sort_brand.sort()
sort_brand

['ArcAngel',
 'AzureMeat',
 'AzureStone',
 'AzureWorks',
 'BertWear',
 'BigStone',
 'Blend&Woven',
 'BlueRidge',
 'BlueRiver Co.',
 'BoxMix',
 'BuilderStyles',
 'CanvasCraft',
 'ChillCube',
 'CityBrief',
 'CloudNine',
 'CoralAndFin',
 'CoralTrend',
 'DarkHarbor',
 'DocMan',
 'DotDash',
 'EchoStyles',
 'FlashBack',
 'FlatField',
 'ForestFoot',
 'FrontlineStyles',
 'FuelThreads',
 'GateStyles',
 'GeoStyles',
 'HarborTrend',
 'HatMasters',
 'HighClass',
 'IslandLife',
 'IsleWear',
 'IvyCraft',
 'KickStar',
 'LakeStyles',
 'LookSee',
 'LunarLuxe',
 'MeadowMaster',
 'MetalMold',
 'MetroMaven',
 'MoonWear',
 'MysticLoaf',
 'NordicFit',
 'NullLabel',
 'OceanSketch Elite',
 'OldVine Styles',
 'OliveSlate',
 'OrchardM',
 'PeakStyles',
 'PedalPrime',
 'PineAndFern',
 'PlaidCrafters',
 'PureDenim',
 'PuzzleWear',
 'RavenBeach',
 'RavenRock',
 'RefreshStyles',
 'ReinStyles',
 'RhythmWear',
 'RosePath',
 'SilkLeaf',
 'SkyGuard',
 'SkyWing',
 'Skyward',
 'SnowPeak',
 'SoftTrend',
 'SpeedThreads',
 'StarHub Threads',
 'StreamStride',
 'TargetStyles',
 'TimelessMan',
 'TulipTread',
 'TurboTrend',
 'UrbanAce',
 'UrbanZen',
 'VisionMakers',
 'VolcanoWear',
 'WillowWalk',
 'WineThread',
 'WitchHazel',
 'WorldSight',
 'ZenithMan',
 'others']

### 1.4 sku_size

In [305]:
products['sku_size'].unique()

array(['  46  ', '  50  ', '  52  ', '  54  ', '  48  ', '  56  ', nan,
       '  26  ', '  25  ', '  27  ', '  M  ', '  28  ', '  58  ',
       '  24  ', '  0  ', '  1  ', '  XL  ', '  S  ', '  L  ', '  XXL  ',
       '  XXXL  ', '  60  ', '  4XL  ', '  2XL  ', '  3XL  ', '  XS  ',
       '  7  ', '  4  ', '  5  ', '  3  ', '  6  ', '  41  ', '  44  ',
       '  43  ', '  45  ', '  42  ', '  40  ', '  10  ', '  9  ',
       '  11  ', '  12  ', '  8  ', '  8,5  ', '  9,5  ', '  10,5  ',
       '  7,5  ', '  6,5  ', '  32/34  ', '  31/34  ', '  36/34  ',
       '  33/34  ', '  34/34  ', '  36/32  ', '  31/32  ', '  34/36  ',
       '  40/32  ', '  38/30  ', '  36/36  ', '  36/30  ', '  32/32  ',
       '  34/32  ', '  38/34  ', '  33/32  ', '  34/30  ', '  35/34  ',
       '  38/32  ', '  30/32  ', '  29/32  ', '  30/34  ', '  28/32  ',
       '  29/34  ', '  33/30  ', '  40/34  ', '  38/36  ', '  33/36  ',
       '  42/32  ', '  35/32  ', '  32/36  ', '  42/34  ', '  30  ',
       '  31  ', '  33  ', '  36  ', '  32  ', '  34  ', '  35  ',
       '  35/36  ', '  102  ', '  98  ', '  32/30  ', '  31/30  ',
       '  30/30  ', '  31/36  ', '  106  ', '  28/34  ', '  38  ',
       '  35/30  ', '  40/36  ', '  28/30  ', '  29/30  ', '  29  ',
       '  44/34  ', '  44/32  ', '  38/38  ', '  40/38  ', '  32/38  ',
       '  33/38  ', '  35/38  ', '  36/38  ', '  34/38  ', '  GEEN  ',
       '  4146  ', '  3942  ', '  4346  ', '  114  ', '  13  ', '  37  ',
       '  39  ', '  61  ', '  59  ', '  57  ', '  47  ', '  11,5  ',
       '  49  ', '  80  ', '  100  ', '  95  ', '  105  ', '  110  ',
       '  90  ', '  85  ', '  115  ', '  XL/XXL  ', '  12,5  ', '  94  '],
      dtype=object)

#### create two feature for size first number of size each pid have then type of size

In [306]:
# count the number of size for each pid
pid_size_number = products.groupby('pid')['sku_size'].count()
pid_size_number = pd.DataFrame(pid_size_number).reset_index()
pid_size_number.columns=['pid','size_count']
pid_size_number.head()

               pid  size_count
0  00018645b311291           1
1  0002c09028f0997           4
2  000d60c255ea40d           1
3  0012b783cc24610           5
4  00184a25beb0581          11

In [307]:
pid_size_number.shape

(13024, 2)

In [308]:
# check one of them 
products[products['pid']=='00184a25beb0581']

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
10618,Blend&Woven,Trousers,00184a25beb0581,57.44,Winter,29/32,Adult,Blue Threads
10619,Blend&Woven,Trousers,00184a25beb0581,57.44,Winter,31/34,Adult,Blue Threads
10620,Blend&Woven,Trousers,00184a25beb0581,57.45,Winter,34/32,Adult,Blue Threads
10621,Blend&Woven,Trousers,00184a25beb0581,57.45,Winter,36/34,Adult,Blue Threads
10622,Blend&Woven,Trousers,00184a25beb0581,57.44,Winter,32/34,Adult,Blue Threads
10623,Blend&Woven,Trousers,00184a25beb0581,57.45,Winter,32/32,Adult,Blue Threads
10624,Blend&Woven,Trousers,00184a25beb0581,57.45,Winter,33/32,Adult,Blue Threads
10625,Blend&Woven,Trousers,00184a25beb0581,57.44,Winter,33/34,Adult,Blue Threads
10626,Blend&Woven,Trousers,00184a25beb0581,57.45,Winter,31/32,Adult,Blue Threads
10627,Blend&Woven,Trousers,00184a25beb0581,57.44,Winter,34/34,Adult,Blue Threads
10628,Blend&Woven,Trousers,00184a25beb0581,57.44,Winter,30/32,Adult,Blue Threads

In [309]:
products = pd.merge(products,pid_size_number,on='pid')

In [310]:
products.head()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory,size_count
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,46,Petite,Formal Set,5
1,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,50,Petite,Formal Set,5
2,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,52,Petite,Formal Set,5
3,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,54,Petite,Formal Set,5
4,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,48,Petite,Formal Set,5

In [311]:
products.tail()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory,size_count
60138,DocMan,Button-Ups,9f8375909dbbd83,53.29,Summer,39,Adult,Stretched-Sleeve Shirt,7
60139,DocMan,Button-Ups,9f8375909dbbd83,53.30,Summer,42,Adult,Stretched-Sleeve Shirt,7
60140,DocMan,Button-Ups,9f8375909dbbd83,53.30,Summer,38,Adult,Stretched-Sleeve Shirt,7
60141,DocMan,Button-Ups,9f8375909dbbd83,53.32,Summer,41,Adult,Stretched-Sleeve Shirt,7
60142,DocMan,Button-Ups,9f8375909dbbd83,53.31,Summer,43,Adult,Stretched-Sleeve Shirt,7

In [312]:
#find type of pid 
pid_size_type = products.groupby('pid')['sku_size'].first()
pid_size_type = pd.DataFrame(pid_size_type).reset_index()
pid_size_type.columns=['pid','size_type']
pid_size_type.head()

               pid  size_type
0  00018645b311291     10,5
1  0002c09028f0997        M
2  000d60c255ea40d      115
3  0012b783cc24610       41
4  00184a25beb0581    29/32

In [313]:
products = pd.merge(products,pid_size_type,on='pid')
products.head()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory,size_count,size_type
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,46,Petite,Formal Set,5,46
1,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,50,Petite,Formal Set,5,46
2,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,52,Petite,Formal Set,5,46
3,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,54,Petite,Formal Set,5,46
4,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,48,Petite,Formal Set,5,46

In [314]:
#drop the sku-size 
products = products.drop(columns=['sku_size'])
products = products.drop_duplicates()

In [315]:
#keep just one row for each pid
products = products.drop_duplicates()

In [316]:
products.head()

,brand,category,pid,price,season,subcategory,subsubcategory,size_count,size_type
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,Petite,Formal Set,5,46
4,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,Petite,Formal Set,5,46
5,BlueRiver Co.,Formal Attire,db4e11720013c7e,74.57,Winter,Petite,Formal Set,6,50
9,BlueRiver Co.,Formal Attire,db4e11720013c7e,74.58,Winter,Petite,Formal Set,6,50
11,BlueRiver Co.,Formal Attire,24300ea1d6f9af3,75.72,Winter,Petite,Formal Set,6,50

In [317]:
print(products.shape)

(28083, 9)

In [318]:
products['size_type'].unique()

array(['  46  ', '  50  ', '  52  ', '  56  ', '  48  ', '  54  ',
       '  M  ', '  27  ', '  0  ', '  1  ', '  XL  ', '  S  ', '  L  ',
       '  XXL  ', '  XXXL  ', '  60  ', '  58  ', '  3XL  ', '  2XL  ',
       '  7  ', '  4  ', '  4XL  ', '  XS  ', '  6  ', '  5  ', '  41  ',
       '  42  ', '  45  ', '  43  ', '  44  ', '  10  ', '  8  ',
       '  11  ', '  9  ', '  10,5  ', '  7,5  ', '  40  ', '  32/34  ',
       '  36/32  ', '  34/36  ', '  32/32  ', '  33/32  ', '  34/32  ',
       '  30/34  ', '  31/34  ', '  34/34  ', '  36/34  ', '  33/34  ',
       '  38/34  ', '  36/30  ', '  31/32  ', '  30/32  ', '  25  ',
       '  38/32  ', '  30  ', '  36  ', '  32  ', '  35/36  ',
       '  29/34  ', '  29/32  ', '  32/30  ', '  33/36  ', '  28/34  ',
       '  38  ', '  35  ', '  34  ', '  28  ', '  24  ', '  26  ',
       '  35/30  ', '  32/36  ', '  31/30  ', '  31  ', '  40/32  ',
       '  31/36  ', '  35/34  ', '  28/32  ', '  36/36  ', '  33  ',
       '  28/30  ', '  44/34  ', '  35/32  ', '  42/32  ', '  33/30  ',
       '  29/30  ', '  30/30  ', '  34/30  ', '  38/30  ', '  40/34  ',
       None, '  29  ', '  GEEN  ', '  4146  ', '  3942  ', '  4346  ',
       '  98  ', '  8,5  ', '  3  ', '  39  ', '  37  ', '  44/32  ',
       '  38/38  ', '  61  ', '  59  ', '  57  ', '  102  ', '  9,5  ',
       '  47  ', '  11,5  ', '  49  ', '  80  ', '  100  ', '  105  ',
       '  95  ', '  110  ', '  90  ', '  115  ', '  85  ', '  12  ',
       '  6,5  ', '  13  ', '  94  '], dtype=object)

In [319]:
products['size_type'] = products['size_type'].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [320]:
# convert it to 1 for str type and 0 for numbers
str_type=['XL', 'S','L', 'XXL', 'XXXL', '60', '58', '3XL', '2XL', '4XL']
products['size_type'] = products['size_type'].apply(lambda x: 1 if x in str_type else 0)

In [321]:
products.shape

(28083, 9)

In [322]:
# drop duplicate
products= products.drop_duplicates()
products.shape

(28083, 9)

In [323]:
products.head()

,brand,category,pid,price,season,subcategory,subsubcategory,size_count,size_type
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,Petite,Formal Set,5,0
4,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,Petite,Formal Set,5,0
5,BlueRiver Co.,Formal Attire,db4e11720013c7e,74.57,Winter,Petite,Formal Set,6,0
9,BlueRiver Co.,Formal Attire,db4e11720013c7e,74.58,Winter,Petite,Formal Set,6,0
11,BlueRiver Co.,Formal Attire,24300ea1d6f9af3,75.72,Winter,Petite,Formal Set,6,0

In [324]:
# put mean of price in price col and delete duplicate
mean_price = products.groupby('pid')['price'].mean()
mean_price = pd.DataFrame(mean_price).reset_index()
mean_price.columns=['pid','mean_price']
products = pd.merge(products,mean_price, on ='pid')
products.head()

,brand,category,pid,price,season,subcategory,subsubcategory,size_count,size_type,mean_price
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57,Winter,Petite,Formal Set,5,0,74.575
1,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.58,Winter,Petite,Formal Set,5,0,74.575
2,BlueRiver Co.,Formal Attire,db4e11720013c7e,74.57,Winter,Petite,Formal Set,6,0,74.575
3,BlueRiver Co.,Formal Attire,db4e11720013c7e,74.58,Winter,Petite,Formal Set,6,0,74.575
4,BlueRiver Co.,Formal Attire,24300ea1d6f9af3,75.72,Winter,Petite,Formal Set,6,0,75.720

In [325]:
#drop price col and delete duplicate
products = products.drop(columns=['price'])
products = products.drop_duplicates()

In [326]:
products.shape

(13712, 9)

In [327]:
products.head()

,brand,category,pid,season,subcategory,subsubcategory,size_count,size_type,mean_price
0,BlueRiver Co.,Formal Attire,b9c74f687ca55f2,Winter,Petite,Formal Set,5,0,74.575
2,BlueRiver Co.,Formal Attire,db4e11720013c7e,Winter,Petite,Formal Set,6,0,74.575
4,BlueRiver Co.,Formal Attire,24300ea1d6f9af3,Winter,Petite,Formal Set,6,0,75.720
5,BlueRiver Co.,Formal Attire,c9d612b1b2b30bf,Summer,Petite,Formal Set,6,0,74.575
7,BlueRiver Co.,Formal Attire,278bdb301992163,Summer,Petite,Formal Set,5,0,74.570

## Table 2 : sale_yr1

In [329]:
sales_yr1.head()

  channel     date_id              pid  net_sales_amount
0    CH//  20220322.0  b51a86b6eee6426              -1.0
1    CH//  20210928.0  669ae35300540ef              -1.0
2    CH//  20201015.0  52836da7b3f28e8              -1.0
3    CH//  20211018.0  e1a2f5ec090c1b7               1.0
4    CH//  20191217.0  e7fb7eb5f96c8cd              11.0

In [333]:
sales_yr1.dtypes

channel              object
date_id             float64
pid                  object
net_sales_amount    float64
dtype: object

In [334]:
sales_yr1['date_id'] = pd.to_datetime(sales_yr1['date_id'],format="%Y%m%d")

In [335]:
sales_yr1.dtypes

channel                     object
date_id             datetime64[ns]
pid                         object
net_sales_amount           float64
dtype: object

In [336]:
sales_yr1['channel'].unique()

array(['CH//', nan, 'CH//CharleroiDepot', 'CH//BrusselsMart',
       'CH//BruggeSquare', 'CH//AalstEmporium', 'CH//KortrijkShowroom',
       'CH//MonsPlaza', 'CH//AntwerpOutlet', 'CH//TournaiShop',
       'CH//MechelenCenter', 'CH//LeuvenStyles', 'CH//NamurPoint',
       'CH//OstendStore', 'CH//HasseltFashions', 'CH//GhentBoutique',
       'CH//LiegeHub', 'CH//GenkGallery', 'CH//amazon.com',
       'CH//Franchise_NL', 'CH//Online'], dtype=object)

In [337]:
# delete ch from the first of each row
sales_yr1['channel'] = sales_yr1['channel'].str.replace('CH//','')
sales_yr1['channel'].unique()

array(['', nan, 'CharleroiDepot', 'BrusselsMart', 'BruggeSquare',
       'AalstEmporium', 'KortrijkShowroom', 'MonsPlaza', 'AntwerpOutlet',
       'TournaiShop', 'MechelenCenter', 'LeuvenStyles', 'NamurPoint',
       'OstendStore', 'HasseltFashions', 'GhentBoutique', 'LiegeHub',
       'GenkGallery', 'amazon.com', 'Franchise_NL', 'Online'],
      dtype=object)