In [1]:
#load library
import pandas as pd
import numpy as np

In [2]:
path="C:/Users/melika/Desktop/melika/ml/csv/"

In [3]:
products=pd.read_csv(f"{path}products.csv",sep=",")
predictions=pd.read_csv(f"{path}predictions.csv",sep=",")
sales_yr1=pd.read_csv(f"{path}sales_yr1.csv",sep=",")
sales_yr2=pd.read_csv(f"{path}sales_yr2.csv",sep=",")

# Cleaning process

## Table 1 : product

In [4]:
products.head(2)

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
0,[brand::]BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57 €,Winter,46,Formal Attire-Petite,Formal Set
1,[brand::]BlueRiver Co.,Formal Attire,b9c74f687ca55f2,74.57 €,Winter,50,Formal Attire-Petite,Formal Set

In [5]:
products.shape

(60146, 8)

In [6]:
products.describe()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
count,59404,60146,60146,60146,60146,59484,60146,60124
unique,84,11,13027,545,2,134,20,65
top,[brand::]SkyWing,Tops,4429df044bcdb02,53.99 €,Summer,M,Tops-Adult,Sporty Short-Sleeve
freq,5663,13534,43,2551,32875,7940,12432,7383

In [7]:
products.dtypes

brand             object
category          object
pid               object
price             object
season            object
sku_size          object
subcategory       object
subsubcategory    object
dtype: object

### 1.1 price

In [8]:
# Remove currency symbols (e.g., '$') from the 'price' column
products['price'] = products['price'].str.replace('€','',regex=True)
# Remove any leading or trailing whitespace
products['price'] = products['price'].str.strip()  
# Convert to numeric, coercing errors to NaN
products['price'] = pd.to_numeric(products['price'], errors='coerce')

In [9]:
products.dtypes

brand              object
category           object
pid                object
price             float64
season             object
sku_size           object
subcategory        object
subsubcategory     object
dtype: object

In [10]:
products['price'].describe()

count    60145.000000
mean        56.677518
std          6.563974
min        -48.120000
25%         52.580000
50%         56.400000
75%         60.520000
max         86.490000
Name: price, dtype: float64

In [11]:
#count negetive price
products[products['price']<0]

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
26964,[brand::]FrontlineStyles,Miscellaneous,bbfdd87aa41aa46,-48.12,Winter,0,Miscellaneous-Adult,Bling
45736,[brand::]DarkHarbor,Sweaters,192e40abd0fa700,-45.78,Winter,XL,Sweaters-Petite,Plunge Top

In [12]:
# Drop rows where 'price' is negative
products = products[products['price'] >= 0]

In [13]:
products['price'].describe()

count    60143.000000
mean        56.680964
std          6.536820
min         23.300000
25%         52.580000
50%         56.400000
75%         60.520000
max         86.490000
Name: price, dtype: float64

### 1.2 category and subcategory variable

In [14]:
products['category'].value_counts()

category
Tops              13534
Sweaters          12753
Trousers          11211
Button-Ups         8351
Footwear           6152
Outerwear          4606
Blazers            1460
Miscellaneous      1087
High-End Items      768
Formal Attire       207
Add-Ons              14
Name: count, dtype: int64

In [15]:
products['subcategory']

0        Formal Attire-Petite
1        Formal Attire-Petite
2        Formal Attire-Petite
3        Formal Attire-Petite
4        Formal Attire-Petite
                 ...
60141        Button-Ups-Adult
60142        Button-Ups-Adult
60143        Button-Ups-Adult
60144        Button-Ups-Adult
60145        Button-Ups-Adult
Name: subcategory, Length: 60143, dtype: object

In [16]:
products['subcategory'].describe()

count          60143
unique            20
top       Tops-Adult
freq           12432
Name: subcategory, dtype: object

In [17]:
# Remove text before hyphen in the 'subcategory' column
products['subcategory'] = products['subcategory'].str.replace('.*-','',regex=True)

In [18]:
# now we can see we just have 3 unique subcategory
products['subcategory'].describe()

count     60143
unique        3
top       Adult
freq      52266
Name: subcategory, dtype: object

### 1.3 brand

In [19]:
products['brand']

0        [brand::]BlueRiver Co.
1        [brand::]BlueRiver Co.
2        [brand::]BlueRiver Co.
3        [brand::]BlueRiver Co.
4        [brand::]BlueRiver Co.
                  ...
60141           [brand::]DocMan
60142           [brand::]DocMan
60143           [brand::]DocMan
60144           [brand::]DocMan
60145           [brand::]DocMan
Name: brand, Length: 60143, dtype: object

In [20]:
# Clean up the 'brand' column
products['brand'] = products['brand'].str.replace('.*]','',regex=True)

In [21]:
products['brand']

0        BlueRiver Co.
1        BlueRiver Co.
2        BlueRiver Co.
3        BlueRiver Co.
4        BlueRiver Co.
             ...
60141           DocMan
60142           DocMan
60143           DocMan
60144           DocMan
60145           DocMan
Name: brand, Length: 60143, dtype: object

In [22]:
unique_brand = products['brand'].unique()
sort_brand = [str(item) for item in unique_brand ]
sort_brand.sort()
sort_brand

['',
 'ArcAngel',
 'AzureMeat',
 'AzureStone',
 'AzureWorks',
 'BertWear',
 'BigStone',
 'Blend&Woven',
 'BlueRidge',
 'BlueRiver Co.',
 'BoxMix',
 'BuilderStyles',
 'CanvasCraft',
 'ChillCube',
 'CityBrief',
 'CloudNine',
 'CoralAndFin',
 'CoralTrend',
 'DarkHarbor',
 'DocMan',
 'DotDash',
 'EchoStyles',
 'FlashBack',
 'FlatField',
 'ForestFoot',
 'FrontlineStyles',
 'FuelThreads',
 'GateStyles',
 'GeoStyles',
 'HarborTrend',
 'HatMasters',
 'HighClass',
 'IslandLife',
 'IsleWear',
 'IvyCraft',
 'KickStar',
 'LakeStyles',
 'LookSee',
 'LunarLuxe',
 'MeadowMaster',
 'MetalMold',
 'MetroMaven',
 'MoonWear',
 'MysticLoaf',
 'NordicFit',
 'NullLabel',
 'OceanSketch Elite',
 'OldVine Styles',
 'OliveSlate',
 'OrchardM',
 'PeakStyles',
 'PedalPrime',
 'PineAndFern',
 'PlaidCrafters',
 'PureDenim',
 'PuzzleWear',
 'RavenBeach',
 'RavenRock',
 'RefreshStyles',
 'ReinStyles',
 'RhythmWear',
 'RosePath',
 'SilkLeaf',
 'SkyGuard',
 'SkyWing',
 'Skyward',
 'SnowPeak',
 'SoftTrend',
 'SpeedThreads',
 'StarHub Threads',
 'StreamStride',
 'TargetStyles',
 'TimelessMan',
 'TulipTread',
 'TurboTrend',
 'UrbanAce',
 'UrbanZen',
 'VisionMakers',
 'VolcanoWear',
 'WillowWalk',
 'WineThread',
 'WitchHazel',
 'WorldSight',
 'ZenithMan',
 'nan']

In [23]:
# replace nan with other
print('before:',products['brand'].isna().sum())
products['brand'] = products['brand'].fillna('others')
print('after:',products['brand'].isna().sum())

before: 742
after: 0

In [24]:
# replace '' with other
products['brand'] = products['brand'].str.replace('','other')
products.head()

,brand,category,pid,price,season,sku_size,subcategory,subsubcategory
0,otherBotherlotheruothereotherRotheriothervothe...,Formal Attire,b9c74f687ca55f2,74.57,Winter,46,Petite,Formal Set
1,otherBotherlotheruothereotherRotheriothervothe...,Formal Attire,b9c74f687ca55f2,74.57,Winter,50,Petite,Formal Set
2,otherBotherlotheruothereotherRotheriothervothe...,Formal Attire,b9c74f687ca55f2,74.57,Winter,52,Petite,Formal Set
3,otherBotherlotheruothereotherRotheriothervothe...,Formal Attire,b9c74f687ca55f2,74.57,Winter,54,Petite,Formal Set
4,otherBotherlotheruothereotherRotheriothervothe...,Formal Attire,b9c74f687ca55f2,74.58,Winter,48,Petite,Formal Set

In [12]:
sales_yr1.head(2)

  channel     date_id              pid  net_sales_amount
0    CH//  20220322.0  b51a86b6eee6426              -1.0
1    CH//  20210928.0  669ae35300540ef              -1.0

In [13]:
sales_yr2.head(2)

             channel     date_id              pid  net_sales_amount
0         CH//Online  20220910.0  00018645b311291               1.0
1  CH//AntwerpOutlet         NaN  0002c09028f0997               1.0